<div class="container">
	<div class="row">
		<div class="span12">
			<div class="row">
				<div class="span12">
					<h3>
						统计结果
					</h3>
				</div>
			</div>
			<div class="row">
				<div class="span6">
					<h3>
						指标A
					</h3>
				</div>
				<div class="span6">
					<h3>
						指标B
					</h3>
				</div>
			</div>
			<div class="row">
				<div class="span6">
					<h3>
						指标C
					</h3>
				</div>
				<div class="span6">
					<h3>
						指标D
					</h3>
				</div>
			</div>
		</div>
	</div>
</div>